button.edit__button {
  width: 38px;
  height: 19px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}
