@import url("./_active/popup__error_active.css");
.popup__error {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  margin: 0;
  display: none;
}
